.accessories__content {
    position: relative;
    padding: 0 0 26px 0;
    &::after {
        position: absolute;
        content: '';
        display: block;
        margin: 0 auto;
        width: 290px;
        height: 1px;
        bottom: 0;
        left: 0;
        right: 0;
        background: $gray;
    }

    .accessories__item {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 0 15px 0 15px;
        
        .accessories__img {
            // margin: 0 0 25px 0;
            img {
                
            }
        }

        .accessories__text {
            padding: 20px 0 0 0;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                display: block;
                margin: 0 auto;
                width: 290px;
                height: 1px;
                top: 0;
                left: 0;
                right: 0;
                background: $gray;
            }
        }
    }
    
    .accessories__item:nth-child(3) {
        margin: 0 4px 0 15px;
        .accessories__text {
            @extend %subtext_font;
            &::after {
                position: absolute;
                content: '';
                display: block;
                margin: 0 auto;
                width: 50px;
                height: 1px;
                top: 0;
                left: 0;
                background: $dark_black;
            }
        }    
    }
    
    .accessories__item:nth-child(4) {
        margin: 0 15px 0 4px;
        .accessories__text {
            @extend %subtext_font;
            &::after {
                position: absolute;
                content: '';
                display: block;
                margin: 0 auto;
                width: 50px;
                height: 1px;
                top: 0;
                left: 0;
                background: $dark_black;
            }
        }
        
    }
    
}


