.header__logo-first {
    display: block;
    span {
        @extend .header__logo-first;
        width: 25px;
        height: 25px;
        background: url('../../../../assets/icons/Logo_e.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.header__logo-second {
    
    span {
        @extend .header__logo-first;
        width: 26px;
        height: 26px;
        background: url('../../../../assets/icons/Logo_m.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.design__item:nth-child(3) {
    
    .design__img {
        span {
            @extend .header__logo-first;
            width: 28px;
            height: 28px;
            border-radius: 50%;
        }

        span:nth-child(1) {
            background: $light_gradient;
        }
        span:nth-child(2) {
            background: $dark_gradient;
        }
        span:nth-child(3) {
            background: $green_gradient;
        }
        span:nth-child(4) {
            background: $yellow_gradient;
        }
    }
}


.video__item:nth-child(2) {
    .video__img {
        span {
            display: block;
            margin: 0 auto;
            width: 46px;
            height: 46px;
            background: url('../icons/quality.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
.video__item:nth-child(3) {
    .video__img {
        span {
            display: block;
            margin: 0 auto;
            width: 58px;
            height: 58px;
            background: url('../icons/stab.svg');
            background-repeat: no-repeat;
            background-position: center;
            
        }
    }
}
.video__item:nth-child(4) {
    .video__img {
        span {
            display: block;
            margin: 0 auto;
            width: 60px;
            height: 60px;
            background: url('../icons/slow.svg');
            background-repeat: no-repeat;
            background-position: center;
            
        }
    }
}