%fonts {
    font-family: $font;
}

%fonts_bold {
    @extend %fonts;
    font-weight: $bold;
}
%fonts_medium {
    @extend %fonts;
    font-weight: $medium;
}

%title_font {
    @extend %fonts_bold;
    font-size: $mob_title_size;
    line-height: $mob_lh_title;

    @include text_720($tab_title_size, $tab_lh_title);
    @include text_1000($desk_title_size, $desk_lh_title);
}

%subtitle_font {
    @extend %fonts_bold;
    font-size: $mob_subtitle_size;
    line-height: $mob_lh_subtitle;
    
    @include text_720($tab_subtitle_size, $tab_lh_subtitle);
    @include text_1000($desk_subtitle_size, $desk_lh_title);
}

%text_font {
    @extend %fonts_medium;
    font-size: $mob_text_size;
    line-height: $mob_lh_text;

    @include text_720($tab_text_size, $tab_lh_text);
    @include text_1000($desk_text_size, $desk_lh_text);

}

%subtext_font {
    @extend %fonts_medium;
    font-size: $mob_subtext_size;
    line-height: $mob_lh_subtext;

    @include text_720($tab_subtext_size, $tab_lh_subtext);
    @include text_1000($desk_subtext_size, $desk_lh_subtext);
    
}

%small_text_font {
    @extend %fonts_medium;
    font-size: $mob_small_size;
    line-height: $mob_lh_small;
    
    @include text_720($tab_small_size, $tab_lh_small);
    @include text_1000($desk_small_size, $desk_lh_small);

}


%block_center {
    display: block;
    margin: 0 auto;
}

@each $section in $sections {
    .#{$section}__img {
        img {
            @extend %block_center;
        }
    }
}

%visibility_off {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

%list_column {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

%flex_row_div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

%bef_af_accessories {
    position: absolute;
    content: '';
    display: block;
    margin: 0 auto;
    max-width: 950px;
    min-width: 290px;
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    background: $gray;
}

%bef_af_accessories_item {
    position: absolute;
    content: '';
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 1px;
    top: 0;
    left: 0;
    background: $dark_black;
}

%icons_block {
    display: block;
    margin:  0 auto;
}
